{% trans_default_domain 'payment' %}

{% apply spaceless %}
{# Links to form to fill #}
{% if text == null %}
    <a href="{{ path('payment_free_amount') }}" title="{{ 'label.make_payment'|trans }}">
        {{ 'label.make_payment'|trans }}</a>
{# Displays link #}
{% else %}
    <a href="{{ path('payment_request', {'amount': amount * 100, 'currency': currency, 'text': text|url_encode}) }}" title="{{ text }} ({{ amount|localizedcurrency(currency) }})">
        {{ text }} ({{ amount|localizedcurrency(currency) }})</a>
{% endif %}
{% endapply %}