{% extends "@c975LPayment/layout.html.twig" %}
{% trans_default_domain 'payment' %}
{% set title = 'label.make_payment'|trans %}

{% block payment_content %}
    <div class="row">
{# Explanation #}
        <p class="text-center">
            {{ 'text.make_payment'|trans }}
        </p>
{# Form #}
        {{ form_start(form) }}
            {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.make_payment'|trans }}" class="btn btn-lg btn-primary btn-block">
                {{ 'label.make_payment'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{# Cancel #}
    <div class="row">
        <p class="text-center">
            <a href="javascript:history.back()">
                {{ 'label.cancel'|trans }}</a>
        </p>
    </div>
{% endblock %}