{% extends "@c975LEmail/emails/layout.html.twig" %}
{% trans_default_domain 'payment' %}

{% block email_content %}
{# Explanation #}
    <p>
        {{ 'text.error_stripe'|trans }}
    </p>
{# errCode #}
    <p>
        <strong>{{ 'label.code'|trans }}</strong>
        <br />
        <blockquote>
            {{ errCode }}
        </blockquote>
    </p>
{# errMessage #}
    <p>
        <strong>{{ 'label.message'|trans }}</strong>
        <br />
        <blockquote>
            {{ errMessage }}
        </blockquote>
    </p>
{% endblock %}