{% extends "@c975LEmail/emails/layout.html.twig" %}
{% trans_default_domain 'payment' %}

{% block email_content %}
{# Test #}
    {% if payment.description starts with '(TEST)' %}
        <p class="alert alert-danger text-center">
            {{ 'text.test_payment'|trans }}
        </p>
    {% endif %}
{# Explanation #}
    <p>
        {{ 'text.explanation'|trans({'%site%': site})|raw }}
    </p>
{# Description #}
    <p>
        {{ 'label.description'|trans }} : <strong>{{ payment.description }}</strong>
    </p>
    {% if payment.vat != null %}
{# Amount excluding VAT #}
        {% set pretaxAmount = (payment.amount / (1 + ((payment.vat / 100) / 100)))|round() %}
        {% set vatAmount = payment.amount - pretaxAmount %}
        <p>
            {{ 'label.amount_excluding_vat'|trans }} : <strong>{{ (pretaxAmount / 100)|localizedcurrency(payment.currency) }}</strong>
        </p>
{# VAT amount + rate #}
        <p>
            {{ 'label.vat'|trans }}  ({{ payment.vat / 100 }}%): <strong>{{ (vatAmount / 100)|localizedcurrency(payment.currency) }}</strong>
        </p>
    {% endif %}
{# Amount #}
    <p>
        {{ 'label.amount'|trans }} : <strong>{{ (payment.amount / 100)|localizedcurrency(payment.currency) }}</strong>
    </p>
{# Date #}
    <p>
        {{ 'label.date'|trans }} : <strong>{{ payment.creation|localizeddate('medium', 'medium') }}</strong>
    </p>
{# Order Id #}
    <p>
        {{ 'label.order_id'|trans }} : <strong>{{ payment.orderId }}</strong>
    </p>
    {% if stripeFee == true %}
{# Stripe Fee #}
        <p class="text-muted">
            {{ 'label.stripe_fee'|trans }} : <strong>{{ (payment.stripeFee / 100)|localizedcurrency(payment.currency) }}</strong>
        </p>
{# Income #}
        <p class="text-muted">
            {{ 'label.income'|trans }} : <strong>{{ ((payment.amount - payment.stripeFee) / 100)|localizedcurrency(payment.currency) }}</strong>
        </p>
    {% endif %}
{# Merchant's data #}
    {% include '@c975LPayment/fragments/merchantData.html.twig' %}
{% endblock %}