{% extends "@c975LPayment/layout.html.twig" %}
{% trans_default_domain 'payment' %}
{% set title = 'label.order_id'|trans ~ ' : ' ~ payment.orderId %}

{% block payment_content %}
{# Explanation #}
    <p class="alert alert-warning text-center">
        <strong>
            {{ 'text.explanation_not_executed'|trans }}
        </strong>
    </p>
{# Description #}
    <p>
        {{ 'label.description'|trans }} : <strong>{{ payment.description }}</strong>
    </p>
{# Amount #}
    <p>
        {{ 'label.amount'|trans }} : <strong>{{ (payment.amount / 100)|localizedcurrency(payment.currency) }}</strong>
    </p>
{# Date #}
    <p>
        {{ 'label.date'|trans }} : <strong>{{ payment.creation|localizeddate('medium', 'medium') }}</strong>
    </p>
{# Order Id #}
    <p>
        {{ 'label.order_id'|trans }} : <strong>{{ payment.orderId }}</strong>
    </p>
{# Process payment #}
    <p class="text-center">
        <a href="{{ path('payment_form') }}" class="btn btn-lg btn-primary" role="button">{{ 'label.process_payment'|trans }}</a>
    </p>
{# Not storing banking information #}
    <p class="alert alert-info text-center">
        <strong>
            {{ 'text.not_store_banking'|trans }}
        </strong>
    </p>
{% endblock %}