{% extends "@c975LPayment/layout.html.twig" %}
{% trans_default_domain 'payment' %}
{% set title = 'label.order_id'|trans ~ ' : ' ~ payment.orderId %}

{% block payment_content %}
{# Explanation #}
    <p class="alert alert-info text-center">
        {{ 'text.explanation'|trans }}
    </p>
{# Test #}
    {% if payment.description starts with '(TEST)' %}
        <p class="alert alert-danger text-center">
            {{ 'text.test_payment'|trans }}
        </p>
    {% endif %}
{# Description #}
    <p>
        {{ 'label.description'|trans }} : <strong>{{ payment.description }}</strong>
    </p>
{# Amount #}
    <p>
        {{ 'label.amount'|trans }} : <strong>{{ (payment.amount / 100)|localizedcurrency(payment.currency) }}</strong>
    </p>
{# Date #}
    <p>
        {{ 'label.date'|trans }} : <strong>{{ payment.creation|localizeddate('medium', 'medium') }}</strong>
    </p>
{# Order Id #}
    <p>
        {{ 'label.order_id'|trans }} : <strong>{{ payment.orderId }}</strong>
    </p>
{# Not storing banking information #}
    <p class="alert alert-info text-center">
        <strong>
            {{ 'text.not_store_banking'|trans }}
        </strong>
    </p>
{% endblock %}