{% extends "@c975LPayment/layout.html.twig" %}
{% trans_default_domain 'payment' %}
{% set title = 'label.payment'|trans %}

{% block payment_content %}
    <div>
{# Test #}
        {% if live == false %}
            <p class="alert alert-danger text-center">
                {{ 'text.test_keys'|trans|nl2br }}
            </p>
        {% endif %}
        <div class="alert alert-success text-center">
{# Explanation #}
            <p>
                {{ 'text.info_payment'|trans }}
            </p>
{# Description #}
            <p class="lead">
                {{ payment.description }}
            </p>
{# Amount #}
            <p class="lead">
                {{ (payment.amount / 100)|localizedcurrency(payment.currency) }}
                <br />
                <br />
            </p>
{# Button form #}
            <form action="{{ path('payment_charge') }}" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-amount="{{ payment.amount }}"
                    data-currency="{{ payment.currency }}"
                    data-name="{{ site }}"
                    data-description="{{ payment.description }}"
                    data-locale="auto"
                    data-label="{{ 'label.payment_by_card'|trans }}"
                    data-zip-code="{{ zipCode }}"
                    data-alipay="false"
                    {% if image != null %}
                        data-image="{{ asset(image) }}"
                    {% endif %}
                ></script>
            </form>
{# Wait page loading #}
            <p>
                <br />
                {{ 'text.wait_page_loading'|trans }}
                <br />
                <br />
            </p>
        </div>
{# Not storing banking information #}
        <p class="text-center">
            <strong>
                {{ 'text.not_store_banking'|trans }}
            </strong>
        </p>
{# Payment system #}
        {% include '@c975LPayment/fragments/paymentSystem.html.twig' %}
    </div>
{# Secured page #}
    <p class="text-center text-muted">
        {{ 'text.secured_page'|trans|raw }}
    </p>
{% endblock %}